<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div id="text-5" class="widget widget_text">
					<div class="textwidget">
						<ul>
							<li><a href="https://pageuppeople.com/" title="PageUp" target="_BLANK">PageUp</a></li>
							<li><a href="http://www.pageuppeoplecareers.com/" title="PageUp Career" target="_BLANK">We're hiring!</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--/.col-sm-3-->
			<div class="col-sm-3">
				<div id="text-6" class="widget widget_text">
					<div class="textwidget">
						<ul>
							<li><a href="https://www.pageuppeople.com/hr-solutions/" title="PageUp UTM" target="_BLANK">Unified Talent Management</a></li>
							<li><a href="https://www.pageuppeople.com" title="PageUp Contact Us" target="_BLANK">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--/.col-sm-3-->
			<div class="col-sm-3">
				<div id="text-7" class="widget widget_text">
					<div class="textwidget">
						<div id="social-connect">
							<a href="https://www.facebook.com/PageUpPeople" target="_blank"><i class="fa fa-facebook"></i></a>
							<a href="http://www.linkedin.com/company/pageup" target="_blank"><i class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/PageUpPeople" target="_blank"><i class="fa fa-twitter"></i></a>
							<a href="https://www.youtube.com/user/PageUpVids" target="_blank"><i class="fa fa-youtube"></i></a></div>
						<div id="copy-right">© Copyright 2018. All Rights Reserved.</div>
					</div>
				</div>
			</div>
			<!--/.col-sm-3-->
			<div class="col-sm-3">
				<a href="http://gel.pageuppeople.com" title="PageUp GEL" class="footer-logo"><img src="http://gel.pageuppeople.com/wp-content/uploads/2016/10/PageUp_LOGO_WHITE-small-TM.png" alt="PageUp GEL" title="PageUp GEL"></a>
				<span></span>
			</div>
			<!--/.col-sm-3-->
		</div>
		<!--/.row-->
	</div>
</footer>
